/* ----------- menu hamburguer ----------- */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #413f3f;
  color: #cdcdcd;
}

main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ----------- fim menu hamburguer ----------- */



/* ----------- Estilos da tabela ----------- */
.table-container {
  width: 100%;
  overflow-x: auto;
  max-height: 300px;/* Altura máxima para rolamento */
  overflow-y: scroll; /*rolagem vertical */
  border-radius: 10px;
  border: 3px solid #dee2e6;
  font-size: 14px;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #282727;
}

thead {
  border: 3px solid #dee2e6;
  background-color: #282727;
  height: 50px;
  width: 100%;
}

thead::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #dee2e6;
  border-radius: 10px;
  border-collapse: collapse;
  border: 3px solid #dee2e6;
}

.custom-table tbody tr:hover {
  background-color: black;
  color: white;
  border: 2px solid rgb(252, 10, 10);
}


.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 1px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #131313;
}

/* --------------------------------- fim style tabela  --------------------------------- */



/* --------------------------------- Botões --------------------------------- */
.btn, 
.btn_voltar  {
  padding: 05px;
  background: rgb(10, 131, 252);
  color: #fff;
  border: 3px solid rgb(10, 131, 252);
  
  outline: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.btn_filters {
  font-size: 14px;
}

br.spacer {
  display: block;
  content: "";
  margin-top: 8px;/* Espaçamento superior*/
  margin-bottom: 8px;/* Espaçamento inferior */
}

.button-red:hover {
  background-color: #030d68;
  color: white;
  
}
/* --------------------------------- fim Botões --------------------------------- */

/* --------------------------------- linhas --------------------------------- */
.linha {
  border-color: #dee2e6;
  border: 1px solid #dee2e6;
  color: #dee2e6;
}

/* --------------------------------- fim linhas --------------------------------- */

.title {
  color: #dee2e6;
}

.title h3 {
  color: rgb(10, 131, 252);
}

/* ---------- Estilizando Barra de Rolagem ---------*/

::-webkit-scrollbar {
  width: 12px;
  /* Largura da barra de rolagem */
}

/* Estilizando o trilho da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: white;
  /* Cor de fundo do trilho */
}

/* Estilizando o indicador da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 02px;
  /* Cor do indicador */
}

/* Estilizando o indicador quando passar o mouse sobre ele */
::-webkit-scrollbar-thumb:hover {
  background-color: #000;
  border: solid 1px #fc0000;
}
