<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/CSS/style02.css">
    <link rel="stylesheet" href="/static/CSS/styleModal.css">
    <link rel="stylesheet" href="/static/CSS/style_add.css">
    <title>Adicionar Item</title>
    <link rel="icon" type="image/png" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/digital-key-2521684-2108304.png"> <!--Favicon-->
</head>

<body>
    <!-- Ajusta o zoom da página -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.body.style.zoom = "100%";
        });
    </script>

    <div class="container">

        <h4 class="mt-2 title"><b>Adicionar Item</b></h4>

        <hr class="linha spacer">

        <!-- Formulário com Placeholder -->
        <form id="add-item-form" method="POST" action="{{ url_for('add_item') }}" class="custom-form">

            <div class="form-row">
                <div class="col">
                    <label class="btn_filters" for="vig">Nome:</label>
                    <input type="text" class="form-control btn_filters" id="vig" name="vig" placeholder="Adicione seu Nome" required>
                </div>
                <div class="col">
                    <label class="btn_filters" for="matricula">Matrícula:</label>
                    <input type="text" class="form-control btn_filters" id="matricula" name="matricula" placeholder="Ex: 12345" required>
                </div>
            </div>

            <br class="spacer">

            <div class="form-group">
                <label class="btn_filters" for="nome">Descrição:</label>
                <textarea class="form-control btn_filters" id="nome" name="nome" rows="3" placeholder="Ex: Um Celular Sansung"></textarea>
            </div>

            <div class="form-group">
                <label class="btn_filters" for="obs">Obs:</label>
                <textarea class="form-control btn_filters" id="obs" name="obs" rows="2" placeholder="Ex: Com a Tela Avariada"></textarea>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label class="btn_filters" for="local">Local:</label>
                    <input type="text" class="form-control btn_filters" id="local" name="local" placeholder="Ex: Sala 101" required>
                </div>
                <div class="form-group col">
                    <label class="btn_filters" for="data_encontrado">Data Encontrado:</label>
                    <input type="date" class="form-control btn_filters" id="data_encontrado" name="data_encontrado" required>
                </div>
            </div>

            <!-- <hr class="linha"> -->

        </form>

        <!-- Painel Horizontal com Ícones e Descrição -->
        <div class="horizontal-panel">
            <div class="panel-item">
                <button class="btn-panel" type="submit" form="add-item-form" title="Adicionar Item">
                    <i id="icon" class="fa-solid fa-folder-plus" data-tooltip="Adicionar Item"></i>
                    <span></span>
                </button>
            </div>
            <div class="panel-item">
                <button class="btn-panel" onclick="redirectToIndex()" title="Home">
                    <i id="icon" class="fas fa-house"></i>
                    <span></span>
                </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="container" id="modal">
            <div class="popup" id="popup">
                <img src="https://cdn-icons-png.flaticon.com/512/1828/1828640.png" alt="imagem pelo link">
                <br>
                <h2 class="title_modal">TKS</h2>
                <p>Item adicionado com sucesso!</p>
                <p>
                    Número de registro: <span id="item-id"></span>
                </p>
                <button type="button" class="btn button-red-modal"><b>OK</b></button>
            </div>
        </div>

        <!-- Define a URL dinâmica para o redirecionamento -->
        <script>
            window.indexUrl = "{{ url_for('index') }}";
        </script>

        <!-- Vincula o arquivo JavaScript externo -->
        <script src="{{ url_for('static', filename='JS/modal_add.js') }}"></script>
    </div>
</body>
</html>