<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/CSS/Style_views.css">
    <link rel="stylesheet" href="/static/CSS/style_view_completed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Itens Baixados</title>
    <link rel="icon" type="image/png" href="https://cdn.iconscout.com/icon/premium/png-256-thumb/digital-key-2521684-2108304.png"> <!--Favicon-->
</head>
<body>
    <!--ajusta o zoom da pagina-->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            document.body.style.zoom = "100%";
        })
    </script>

    <div class="container">
        <h4 class="mt-0 title"><b>Itens Baixados</b></h4>
        <hr class="linha spacer">
        <div class="status-box">
            <h7 class="title">Status</h7>
            <h9>             
                <p>Número de Itens baixados: {{ numero_itens_baixados }}    
                </p>             
            </h9>
        </div>
    
        <form class="mb-4 form-row">          
            <div class="col">
                <input type="text" class="form-control btn_filters" placeholder="Nome do Item ou ID" name="palavra_chave" value="{{ request.args.get('palavra_chave', '') }}">
            </div>
            <div class="col-auto">
                <button type="submit" class="button-red">
                    <i id="icon" class="fa-solid fa-filter"></i>
                    <span id="filtro">Filtrar</span>
                </button>
            </div>  
        </form>
        
        <!--Botão de Upload-->
        <div class="upload-container">
            <form id="uploadForm" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col">
                        <input type="file" id="fileInput" name="fileToUpload" style="display: none;">
                    </div>
                    <div class="col-auto">
                        <button class="button-red_up" type="button" onclick="chooseFile()">
                            <i id="icon" class="fa-solid fa-file-arrow-up"></i>
                            <span>Carregar Termo</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <br class="spacer">
        <div class="Table-container">
            <table class="Table Table-hover custom-Table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Vigilante</th>
                        <th>Matrícula</th>
                        <th>Descrição</th>
                        <th>Observações/Itens</th>
                        <th>Local</th>
                        <th>Data\Encontrado</th>
                        <th>Concluido Por</th>
                        <th>Matrícula</th>
                        <th>Obs</th>
                        <th>Data conclusão</th>
                        <th>Vizualizar Termo de Retirada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items_baixados %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td>{{ item[3] }}</td>
                        <td>{{ item[4] }}</td>
                        <td>{{ item[5] }}</td>
                        <!--Altera o formato da data somente na pagina-->
                        <td data-date="{{ item[6] }}" data-formatted-date=""></td>
                        <td>{{ item[7] }}</td>
                        <td>{{ item[8] }}</td>
                        <td>{{ item[9] }}</td>
                        <td>{{ item[10] }}</td>
                        <td>
                            <a href="{{ url_for('visualizar_formulario', item_id=item[0]) }}" class="btn-panel" target="_blank">
                                <i id="icon" class="fa-solid fa-magnifying-glass"></i>
                                <span>Visualizar</span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br class="spacer">
        <!-- Painel Horizontal com Ícones e Descrição -->
        <div class="horizontal-panel">          
            <button class="btn-panel" onclick="redirectToIndex()" title="Home">
                <i id="icon" class="fas fa-house"></i>
                <span></span>
            </button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/static/JS/format_data.js"></script>
    <script src="/static/JS/up_load_doc.js"></script>
</body>
</html>
